[tool.poetry]
name = "pylette"
version = "2.2.0"
description = "A Python library for extracting color palettes from images."
authors = ["Ivar Stangeby"]
license = "MIT"
packages = [
    { include = "Pylette", from = "." },
]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
Pillow = "^9.3.0"
numpy = "^1.26.4"
scikit-learn = "^1.2"
requests = "^2.32.3"

[tool.poetry.group.dev.dependencies]
mypy = "^1.10.0"
types-requests = "^2.32.0.20240602"
types-pillow = "^10.2.0.20240520"
pre-commit = "^3.7.1"
pytest = "^8.2.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
pylette = "Pylette.cmd:main"
