[tool.poetry]
name = "pylette"
version = "0.4.0"
description = "A Python library for extracting color palettes from images."
authors = ["Ivar Stangeby"]
license = "MIT"

[tool.poetry.dependencies]
python = "~3.8"
Pillow = "^9.0.1"
numpy = "^1.22.2"
scikit-learn = "^1.0.2"
PyQt5 = {version = "^5.15.6"}

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
pylette_gui = "Pylette.gui:main"
pylette = "Pylette.cmd:main"